@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header img {
    width: 110px;
}

/* ================= */
/* MENÚ HAMBURGUESA */
/* ================= */

/* oculto checkbox */
#menu {
    display: none;
}

/* icono ☰ */
.menu-icon {
    font-size: 28px;
    cursor: pointer;
}

/* menú oculto */
nav {
    display: none;
}

/* cuando se activa → aparece */
#menu:checked + .menu-icon + nav {
    display: block;
}

/* lista */
nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    margin: 10px 0;
}

nav a {
    text-decoration: none;
    color: black;
}

/* CONTENIDO */
main {
    padding: 0 20px;
}

/* HERO */
.hero-imagen {
    position: relative;
}

.hero-imagen img {
    width: 100%;
    border-radius: 20px;
    display: block;
}

/* TEXTO SOBRE IMAGEN */
.hero-imagen h1 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;

    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 0;

    text-shadow: 2px 2px 5px black;
}

/* TEXTO */
.hero p {
    margin-top: 10px;
    border-left: 5px solid #2d00ff;
    padding-left: 10px;
}

/* VIDEO */
.video {
    margin-top: 20px;
}

.video h2 {
    color: #2d00ff;
    font-size: 14px;
}

.video iframe {
    width: 100%;
    height: 220px;
    border: none;
}

/* FOOTER */
footer {
    padding: 20px;
}

footer img {
    width: 90px;
}

/* ================= */
/* 💻 PC VERSION */
/* ================= */
@media (min-width: 1024px) {

    /* oculto hamburguesa */
    .menu-icon {
        display: none;
    }

    /* muestro menú */
    nav {
        display: block;
    }

    nav ul {
        display: flex;
        gap: 20px;
    }

    nav li {
        margin: 0;
    }

    /* agrando hero */
    .hero-imagen h1 {
        font-size: 32px;
    }
}