ul {
    list-style: none;
}

/*selector de etiqueta*/
img {
    border-radius: 20%;
}

/*selector de clase*/
.seccion1 {
    background-color: #d450f9;
    padding: 20px;
    color: black;
}
.seccion2 {
    background-color: #d450f9;
    padding: 20px;
    color: black;
}
.seccion3 {
    background-color: #d450f9;
    padding: 20px;
    color: black;
}

header img {
    border: 2px solid black;
}
