body {
  background-color: rgb(148, 0, 211); /* violeta */
}

/* texto en columnas */
p {
  column-count: 1;
  column-gap: 20px;
}

/* FLEXBOX */
.contenedor {
  display: flex;
  flex-direction: column; /* mobile */
}

.caja {
  margin: 10px;
  padding: 20px;
  background-color: lightgray;
}

/* tablets */
@media (min-width: 700px) {
  body {
    background-color: rgb(0, 0, 255); /* azul */
  }

  p {
    column-count: 2;
  }

  .contenedor {
    flex-direction: row; /* se ponen en fila */
  }

  .caja {
    flex: 1;
  }
}

/* pantallas grandes */
@media (min-width: 1200px) {
  body {
    background-color: rgb(0, 128, 0); /* verde */
  }

  p {
    column-count: 3;
  }
}