body {
  background-color: rgb(148, 0, 211); /* violeta */
}

/* tablets */
@media (min-width: 700px) {
  body {
    background-color: rgb(0, 0, 255); /* azul */
  }
}

/* pantallas grandes */
@media (min-width: 1200px) {
  body {
    background-color: rgb(0, 128, 0); /* verde */
  }
}